body{
        text-align: center;
	background-color:rgb(56, 54, 54);
	color: rgb(2, 0, 0)  ;
	}

	</style>
 
img{
    width: 1%;
    height: auto;

}

img:hover{
    opacity: 1;
    border: 8px rgb(0, 0, 0) solid
}